%h1=@project.name
%ul
  -@stories.each do |story|
    %li
      = link_to "↑", "upvote/#{story.id}"
      = story.count
      |
      = story.name
      -unless story.description.blank?
        %ul 
          %li
            = story.description 
        